streamlit==1.37.1
yfinance==0.2.66
pandas==2.2.2
python-dateutil==2.9.0.post0
requests==2.31.0
lxml==4.9.3
html5lib==1.1
beautifulsoup4==4.12.2
numpy==1.24.3
curl-cffi==0.7.0
frozendict==2.4.0
multitasking==0.0.11
peewee==3.17.0
platformdirs==4.2.0
protobuf==4.25.1
pytz==2024.1
websockets==12.0
